Source: socklog
Section: admin
Priority: optional
Maintainer: Gerrit Pape <pape@innominate.com>
Standards-Version: 3.0.1
Build-Depends: debhelper, w3m

Package: socklog
Architecture: any
Depends: ${shlibs:Depends}
Provides: system-log-daemon
Description: minimal replacement for syslogd using djb's daemontools
 socklog is run under daemontools' supervise, writing syslog messages it
 receives from an unix domain socket path (/dev/log) or an inet udp socket
 ip: port (0.0.0.0:514) through a pipe provided by svscan to a multilog
 process.
 .
 If socklog listens to an udp socket, it prepends ip: (a.b.c.d: ) to each
 syslog message it receives, where a.b.c.d is the ip address of the
 connecting system.
 .
 If the environment variables $UID and/or $GID are present, socklog will
 drop permissions to those ids after creating and binding to the socket.
 .
 socklog converts syslog facility and priority information to names
 (facility.priority) as found in /usr/include/syslog.h at compile time if
 present.
