#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	tar xzvpf socklog-1.1.0.tar.gz
	-gcc -v

	( \
	set -e; \
	cd admin/socklog-1.1.0/src; \
	ln -s socklog-1.1.0 socklog; mv socklog ../..; \
	$(MAKE); \
	)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	rm -rf admin
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	for i in socklog socklog-conf; do \
	  install -m0755 admin/socklog/src/$$i \
	    $(CURDIR)/debian/socklog/usr/sbin/; \
	done
	for i in tryto uncat; do \
	  install -m0755 admin/socklog/src/$$i \
	    $(CURDIR)/debian/socklog/usr/bin/; \
	done

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
#	dh_installexamples
	dh_installman admin/socklog/man/*.[18]
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
