#!/usr/bin/make -f

STRIP =strip
ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  STRIP =: nostrip
endif

CFLAGS =-O2 -Wall
LDFLAGS =
CC =gcc
ifneq (,$(findstring diet,$(DEB_BUILD_OPTIONS)))
  CC =diet -v -Os gcc
endif

DIR =`pwd`/debian/socklog

build: deb-checkdir build-arch-stamp build-indep-stamp

build-arch: deb-checkdir build-arch-stamp
build-arch-stamp:
	rm -rf admin
	tar xzpf socklog-1.4.2.tar.gz
	-gcc -v
	rm -f admin/socklog && ln -s socklog-1.4.2 admin/socklog
	( cd admin/socklog && patch -p0 ) <debian/diff/uncat.check.diff
	echo "$(CC) $(CFLAGS)" >admin/socklog/src/conf-cc
	echo "$(CC) $(LDFLAGS)" >admin/socklog/src/conf-ld
	$(MAKE) -Cadmin/socklog/src
	touch build-arch-stamp

build-indep: deb-checkdir build-indep-stamp
build-indep-stamp: 
	touch build-indep-stamp

clean: deb-checkdir deb-checkuid
	rm -rf admin
	rm -rf "$(DIR)" "$(DIR)"-run
	rm -f build-arch-stamp build-indep-stamp
	rm -f debian/files debian/substvars changelog

install: install-arch install-indep

install-arch: deb-checkdir deb-checkuid build-arch-stamp
	rm -rf "$(DIR)"
	install -d -m0755 "$(DIR)"/usr/sbin
	install -d -m0755 "$(DIR)"/usr/bin
	for i in socklog socklog-conf; do \
	  install -m0755 admin/socklog/src/$$i "$(DIR)"/usr/sbin/ || exit 1; \
	done
	$(STRIP) -R .comment -R .note "$(DIR)"/usr/sbin/*
	for i in tryto uncat; do \
	  install -m0755 admin/socklog/src/$$i "$(DIR)"/usr/bin/ || exit 1; \
	done
	$(STRIP) -R .comment -R .note "$(DIR)"/usr/bin/*
	# man pages
	install -d -m0755 "$(DIR)"/usr/share/man/man1
	install -d -m0755 "$(DIR)"/usr/share/man/man8
	install -m0644 admin/socklog/man/*.1 "$(DIR)"/usr/share/man/man1/
	gzip -9 "$(DIR)"/usr/share/man/man1/*.1
	install -m0644 admin/socklog/man/*.8 "$(DIR)"/usr/share/man/man8/
	gzip -9 "$(DIR)"/usr/share/man/man8/*.8
	# changelog
	test -r changelog || ln -s admin/socklog/package/CHANGES changelog

install-indep: deb-checkdir deb-checkuid build-indep-stamp
	rm -rf "$(DIR)"-run
	for i in unix klog inet ucspi-tcp; do \
	  install -d -m0755 "$(DIR)"-run/etc/socklog/$$i/log && \
	  install -m0755 debian/etc/$$i/run \
	    "$(DIR)"-run/etc/socklog/$$i/run && \
	  install -m0755 debian/etc/$$i/log/run \
	    "$(DIR)"-run/etc/socklog/$$i/log/run || exit 1; \
	done
	install -d -m0755 "$(DIR)"-run/etc/socklog/notify
	install -m0755 debian/etc/notify/run \
	  "$(DIR)"-run/etc/socklog/notify/run
	# links
	for i in unix klog inet ucspi-tcp; do \
	  install -d -m0755 "$(DIR)"-run/var/run/socklog-$$i && \
	  install -d -m0755 "$(DIR)"-run/var/run/socklog-$$i.log && \
	  ln -s /var/run/socklog-$$i \
	    "$(DIR)"-run/etc/socklog/$$i/supervise && \
	  ln -s /var/run/socklog-$$i.log \
	    "$(DIR)"-run/etc/socklog/$$i/log/supervise || exit 1; \
	done
	install -d -m0755 "$(DIR)"-run/var/run/socklog-notify
	ln -s /var/run/socklog-notify "$(DIR)"-run/etc/socklog/notify/supervise
	for i in klog inet ucspi-tcp; do \
	  ln -s /var/log/socklog-$$i "$(DIR)"-run/etc/socklog/$$i/log/main \
	    || exit 1; \
	done
	ln -s /var/log/socklog "$(DIR)"-run/etc/socklog/unix/log/main
	# changelog
	test -r changelog || ln -s admin/socklog/package/CHANGES changelog

binary-arch: deb-checkdir deb-checkuid install-arch socklog.deb
	test "$(CC)" != 'gcc' || \
	  dpkg-shlibdeps "$(DIR)"/usr/bin/* "$(DIR)"/usr/sbin/*
	dpkg-gencontrol -isp -psocklog -P"$(DIR)" 
	dpkg -b "$(DIR)" ..

binary-indep: deb-checkdir deb-checkuid install-indep socklog-run.deb
	dpkg-gencontrol -isp -psocklog-run -P"$(DIR)"-run
	dpkg -b "$(DIR)"-run ..

binary: binary-indep binary-arch

.PHONY: build binary-arch build-indep clean install install-arch \
install-indep binary-arch binary-indep binary

include debian/implicit
