usage: socklog-conf unix|inet|klog|ucspi acct logacct [/etc/sv] [/logdir]
usage: socklog-conf notify acct grp [/etc/sv] [pipe]

1
$Id$

usage: socklog-conf unix|inet|klog|ucspi acct logacct [/etc/sv] [/logdir]
usage: socklog-conf notify acct grp [/etc/sv] [pipe]

1
0
0
0
0
