usage: uncat [-vo] [-t timeout] [-s size] prog

1
$Id: b7787391481949f7223e326decd0a46e4fd444e4 $

usage: uncat [-vo] [-t timeout] [-s size] prog

1
uncat: warning: starting.
uncat: warning: end of input.
uncat: warning: starting child.
foo
bar
uncat: warning: child exited.
uncat: warning: exit.
0
uncat: warning: starting.
uncat: warning: timeout reached.
uncat: warning: starting child.
foo
uncat: warning: child exited.
uncat: warning: end of input.
uncat: warning: starting child.
bar
uncat: warning: child exited.
uncat: warning: exit.
0
uncat: warning: starting.
uncat: warning: max size reached.
uncat: warning: starting child.
foo
uncat: warning: child exited.
uncat: warning: max size reached.
uncat: warning: starting child.
bar
uncat: warning: child exited.
uncat: warning: end of input.
uncat: warning: starting child.
baz
uncat: warning: child exited.
uncat: warning: exit.
0
