name: make check

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

jobs:
  make-check:
    strategy:
      matrix:
        runners:
          - ubuntu-latest
          - ubuntu-24.04
          - ubuntu-22.04
          - macos-latest
          - macos-15
          - macos-14
          - macos-13
    runs-on: ${{ matrix.runners }}
    steps:
    - uses: actions/checkout@v4
    - name: make check
      run: cd src && make check
